[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/uvwbermudo/kickstart.nvim.git
[submodule ".oh-my-bash"]
	path = .oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = https://github.com/uvwbermudo/wezterm-config.git
